{% include 'partial/main.html' %}

<head>
    {% include 'partial/title.html' %}
    {% include 'partial/head-css.html' %}
    {% block extra_css %}

    {% endblock %}
</head>

<body>

    {% block content %}

    {% endblock %}

    <script src="{{ url_for ('static', filename='js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bi-eye-slash-fill");
                    $('#show_hide_password i').removeClass("bi-eye-fill");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bi-eye-slash-fill");
                    $('#show_hide_password i').addClass("bi-eye-fill");
                }
            });
        });
    </script>

    {% block extra_js %}

    {% endblock %}
</body>