<!-- <link rel="stylesheet" href="{{ url_for ('static', filename='vendor/css/bootstrap/bootstrap.css') }}"> --><!-- loader-->
<link href="{{ url_for('static', filename='css/pace.min.css') }}" rel="stylesheet">
<script src="{{ url_for ('static', filename='js/pace.min.js') }}"></script>

<!--plugins-->
<link href="{{ url_for('static', filename='plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/fullcalendar/css/main.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/metismenu/metisMenu.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/metismenu/mm-vertical.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/simplebar/css/simplebar.css') }}">
<!--bootstrap css-->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">

<!--main css-->
<link href="{{ url_for('static', filename='css/bootstrap-extended.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='sass/main.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='sass/dark-theme.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='sass/blue-theme.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='sass/semi-dark.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='sass/bordered-theme.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='sass/responsive.css') }}" rel="stylesheet">