<div class="card">
    <div class="card-body">
        <h5 class="mb-0">Basic Popovers</h5>
        <hr>
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" 	placement="end" popoverTitle="Popover on left" 	ngbPopover="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
    </div>
    
    <div class="card-body">
        <h5 class="mb-0">Four Directions</h5>
        <hr>
        <div class="row row-cols-auto g-3">
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" placement="top" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                >Popover on top</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" placement="right" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on right</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" placement="bottom" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on bottom</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" placement="left" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on left</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="mb-0">Tooltips Examples</h5>
        <hr>
        <div class="row row-cols-auto g-3">
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"  ngbTooltip="Tooltip on top">Tooltip on top</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"  ngbTooltip="Tooltip on top">Tooltip on right</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"  ngbTooltip="Tooltip on top">Tooltip on bottom</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left"  ngbTooltip="Tooltip on top">Tooltip on left</button>
            </div>
        </div>
    </div>
</div>