@{
    ViewBag.Title = "Component";
    ViewBag.pTitle = "Media Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {

}
<div class="row">
	<div class="col-12">
		<h6 class="mb-0 text-uppercase">Basic Media Object</h6>
		<hr>
		<div class="card radius-10 rounded-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border bg-grd-primary" width="90" height="90" alt="...">
					<div class="flex-grow-1 ms-3">
						<h5 class="mt-0">Media heading</h5>
						<p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="card radius-10 rounded-4">
			<div class="card-body">
				<div class="d-flex flex-row-reverse align-items-center">
					<img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border bg-grd-warning" width="90" height="90" alt="...">
					<div class="flex-grow-1 ms-3">
						<h5 class="mt-0">Media heading</h5>
						<p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="card radius-10 rounded-4">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border bg-grd-danger" width="90" height="90" alt="...">
					<div class="flex-grow-1 ms-3">
						<h5 class="mt-0">Media heading</h5>
						<p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="card radius-10 rounded-4">
			<div class="card-body">
				<div class="d-flex flex-row-reverse align-items-center">
					<img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border bg-grd-success" width="90" height="90" alt="...">
					<div class="flex-grow-1 ms-3">
						<h5 class="mt-0">Media heading</h5>
						<p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="card radius-10 rounded-4 bg-grd-primary">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border bg-white" width="90" height="90" alt="...">
					<div class="flex-grow-1 ms-3">
						<h5 class="mt-0">Media heading</h5>
						<p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="card radius-10 rounded-4 bg-grd-info">
			<div class="card-body">
				<div class="d-flex flex-row-reverse align-items-center">
					<img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border bg-white" width="90" height="90" alt="...">
					<div class="flex-grow-1 ms-3">
						<h5 class="mt-0">Media heading</h5>
						<p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="card radius-10 rounded-4 bg-grd-warning">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border bg-white" width="90" height="90" alt="...">
					<div class="flex-grow-1 ms-3">
						<h5 class="mt-0 text-dark">Media heading</h5>
						<p class="mb-0 text-dark">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
@section scripts {

}
