<!--start sidebar-->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="logo-icon">
            <img src="~/assets/images/logo-icon.png" class="logo-img" alt="">
        </div>
        <div class="logo-name flex-grow-1">
            <h5 class="mb-0">Maxton</h5>
        </div>
        <div class="sidebar-close">
            <span class="material-icons-outlined">close</span>
        </div>
    </div>
    <div class="sidebar-nav">
        <!--navigation-->
        <ul class="metismenu" id="sidenav">
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">home</i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
                <ul>
                    <li>
                        <a href="/"><i class="material-icons-outlined">arrow_right</i>Analysis</a>
                    </li>
                    
                </ul>
            </li>
            
            <li class="menu-label">Pages</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">lock</i>
                    </div>
                    <div class="menu-title">Authentication</div>
                </a>
                <ul>
                    <li>
                        <a class="has-arrow" href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Basic</a>
                        <ul>
                            <li><a href="/auth/basiclogin" target="_blank"><i class="material-icons-outlined">arrow_right</i>Login</a></li>
                            <li><a href="/auth/basicregister" target="_blank"><i class="material-icons-outlined">arrow_right</i>Register</a></li>
                            <li><a href="/auth/basicforgot" target="_blank"><i class="material-icons-outlined">arrow_right</i>Forgot Password</a></li>
                            <li><a href="/auth/basicreset" target="_blank"><i class="material-icons-outlined">arrow_right</i>Reset Password</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Cover</a>
                        <ul>
                            <li><a href="/auth/coverlogin" target="_blank"><i class="material-icons-outlined">arrow_right</i>Login</a></li>
                            <li><a href="/auth/coverregister" target="_blank"><i class="material-icons-outlined">arrow_right</i>Register</a></li>
                            <li><a href="/auth/coverforgot" target="_blank"><i class="material-icons-outlined">arrow_right</i>Forgot Password</a></li>
                            <li><a href="/auth/coverreset" target="_blank"><i class="material-icons-outlined">arrow_right</i>Reset Password</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Boxed</a>
                        <ul>
                            <li><a href="/auth/boxedlogin" target="_blank"><i class="material-icons-outlined">arrow_right</i>Login</a></li>
                            <li><a href="/auth/boxedregister" target="_blank"><i class="material-icons-outlined">arrow_right</i>Register</a></li>
                            <li><a href="/auth/boxedforgot" target="_blank"><i class="material-icons-outlined">arrow_right</i>Forgot Password</a></li>
                            <li><a href="/auth/boxedreset" target="_blank"><i class="material-icons-outlined">arrow_right</i>Reset Password</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">report_problem</i>
                    </div>
                    <div class="menu-title">Pages</div>
                </a>
                <ul>
                    <li>
                        <a href="/pages/e404" target="_blank">
                            <i class="material-icons-outlined">arrow_right</i>404
                            Error
                        </a>
                    </li>
                    <li>
                        <a href="/pages/e505" target="_blank">
                            <i class="material-icons-outlined">arrow_right</i>505
                            Error
                        </a>
                    </li>
                    <li>
                        <a href="/pages/comingsoon" target="_blank">
                            <i class="material-icons-outlined">arrow_right</i>Coming Soon
                        </a>
                    </li>
                    <li>
                        <a href="/pages/blank">
                            <i class="material-icons-outlined">arrow_right</i>Blank Page
                        </a>
                    </li>
                </ul>
            </li>
            
            
            <li class="menu-label">Others</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">face_5</i>
                    </div>
                    <div class="menu-title">Menu Levels</div>
                </a>
                <ul>
                    <li>
                        <a class="has-arrow" href="javascript:;">
                            <i class="material-icons-outlined">arrow_right</i>Level
                            One
                        </a>
                        <ul>
                            <li>
                                <a class="has-arrow" href="javascript:;">
                                    <i class="material-icons-outlined">arrow_right</i>Level
                                    Two
                                </a>
                                <ul>
                                    <li>
                                        <a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Level Three</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascrpt:;">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">description</i>
                    </div>
                    <div class="menu-title">Documentation</div>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">support</i>
                    </div>
                    <div class="menu-title">Support</div>
                </a>
            </li>
        </ul>
        <!--end navigation-->
    </div>
</aside>
<!--end sidebar-->