<div class="row">
    <div class="col-12 col-lg-9 mx-auto">
        <div class="text-center">
            <h5 class="mb-0 text-uppercase">Frequently asked questions (FAQ<small class="text-lowercase">s</small>)</h5>
            <hr>
        </div>
        <div class="card">
            <div class="card-body">
                <div ngbAccordion [closeOthers]="true">
                    <div ngbAccordionItem [collapsed]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Just once I'd like to eat dinner with a celebrity?</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <p>Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all. I was having the most wonderful dream. Except you were there, and you were there, and you were there! No argument here. Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be.</p>
                                    <p><strong>Example: </strong>Shut up and get to the point!</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [destroyOnHide]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Bender, I didn't know you liked cooking?</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <p>That's so cute. Can we have Bender Burgers again? Is the Space Pope reptilian!? I wish! It's a
                                        nickel. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions
                                        manually!</p>
                                      <p><strong>Example: </strong>Okay, I like a challenge. Is that a cooking show? No argument here.
                                      </p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [destroyOnHide]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Bender, I didn't know you liked cooking?</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <p>That's so cute. Can we have Bender Burgers again? Is the Space Pope reptilian!? I wish! It's a
                                        nickel. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions
                                        manually!</p>
                                      <p><strong>Example: </strong>Okay, I like a challenge. Is that a cooking show? No argument here.
                                      </p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [destroyOnHide]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>My fellow Earthicans?</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <p>As I have explained in my book 'Earth in the Balance', and the much more popular 'Harry Potter
                                        and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.
                                        Fry, you can't just sit here in the dark listening to classical music.</p>
                                      <p><strong>Example: </strong>Actually, that's still true. Well, let's just dump it in the sewer
                                        and say we delivered it.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h5 class="mb-0 text-uppercase">Frequently asked questions (FAQ<small class="text-lowercase">s</small>)</h5>
            <hr>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="accordion accordion-flush" id="accordionExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                Michelle, I don't regret this, but I both rue and lament it?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p>Look, last night was a mistake. We'll need to have a look inside you with this
                                    camera. Good news, everyone! There's a report on TV with some very bad news! You
                                    know, I was God once. You lived before you met me?!</p>
                                <p><strong>Example: </strong>I'm Santa Claus! Pansy. That's a popular name today. Little
                                    "e", big "B"?</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Why am I sticky and naked?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p>Did I miss something fun? Humans dating robots is sick. You people wonder why I'm
                                    still single? It's 'cause all the fine robot sisters are dating humans! Kids don't
                                    turn rotten just from watching TV.</p>
                                <p><strong>Example: </strong>I usually try to keep my sadness pent up inside where it
                                    can fester quietly as a mental illness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Is that a cooking show?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p>OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman
                                    can. You seem malnourished. Are you suffering from intestinal parasites? Check it
                                    out, y'all. Everyone who was invited is here. I am Singing Wind, Chief of the
                                    Martians.</p>
                                <p><strong>Example: </strong>Man, I'm sore all over. I feel like I just went ten rounds
                                    with mighty Thor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                You are the last hope of the universe?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <p>I don't want to be rescued. I videotape every customer that comes in here, so that I
                                    may blackmail them later. Ah, computer dating. It's like pimping, but you rarely
                                    have to use the phrase "upside your head."</p>
                                <p><strong>Example: </strong>Tell them I hate them.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>